.sidebar-section{
  display:flex;
  background-color: #030303da;
}

.sidebar{
  height: 100vh;
  background-color: #030303da;
  width: 95px;
  position: fixed;
}
.sidebar-expand{
  width: 230px;
}
.icon-for-expand-and-collapse{
  display: flex;
  margin-top: 50px;
  justify-content: right;
  align-items: right;
}

.icon-for-expand-and-collapse p svg{
  background-color: #19092c;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow: hidden;
}